* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pandasneezing {
  margin-left: 1rem;
  font-weight: 700;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eeecec;
}
.options-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav_links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav_links li {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.features {
  grid-area: two;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
  padding: 1.3rem;
  width: 100%;
}
.rectangular-img {
  width: 27rem;
  height: 12rem;
  overflow: hidden;
  position: relative;
}
.rectangle-text {
  overflow: hidden;
  max-width: 22rem;
  max-height: 15rem;
}
.rectangular-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section__description {
  font-size: 1.6rem;
  color: rgb(52, 32, 239);
}
.sec_header {
  font-size: 2.4rem;
  line-height: 0.8rem;
  font-weight: 500;
}

.icon-container {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 3rem;
  background-color: rgb(245, 232, 234);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.operations {
  margin-top: 3rem;
  background-color: #fff;
  border: 1px solid #ddd;
  padding-bottom: 1rem;
}
.operations_tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab--active {
  transform: translateY(-66%) !important;
  margin-right: 2.3rem;
}
.operations__tab {
  transform: translateY(-50%);
  margin-right: 2.3rem;
}
.btn {
  padding: 0.8rem 2.3rem;
  /*  */
  border-radius: 14rem;
  cursor: pointer;
}
.operations__tab--1 {
  /*Esto es el boton 1*/
  background-color: blue;
}
.operations__tab--2 {
  /*Esto es el boton 1*/
  background-color: rgb(255, 62, 62);
}
.operations__tab--3 {
  /*Esto es el boton 1*/
  background-color: rgb(172, 255, 173);
}
.operations__content {
  width: 80%;
  margin: auto;
}
.icon-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.ul_redes-sociales li {
  height: 2rem;
  width: 2rem;
  background-color: pink;
  border-radius: 50%;
  cursor: pointer;
}
.ul_redes-sociales {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* All sections */
.section--1 {
  display: grid;
  grid-template-areas:
    "one"
    "two";
  align-items: center;
  justify-content: center;
}
.section__title {
  grid-area: one;
}

.div-input-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 10rem;
}
.registro-footer {
  padding: 1rem;
  text-align: center;
}
.div-redes--sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.div_registro-redes {
  display: flex;
  flex-direction: column;
}
section {
  padding: 2rem 3rem;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
}
.footer-inf {
  display: grid;
  padding: 0 3rem;
  margin: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.div_inf--tienda {
  padding: 0 2rem;
}
.div_nuestras--tiendas {
  padding: 0 2rem;
}
.div-ligaDe--interes {
  padding: 0 2rem;
}
.div-legales {
  padding: 0 2rem;
}

.btn_suscribirme {
  height: 2rem;
  text-align: center;
  background-color: steelblue;
  padding: 0.5rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
}
.ipt_suscribirme {
  height: 2rem;
  padding: 0.5rem;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
li {
  list-style: none;
}
.icono-peque {
  font-size: 1.2rem;
  color: pink;
}
.icono-mediano {
  font-size: 2rem;
  color: pink;
}
.testimonial {
  position: relative;
  width: 65%;
}
.testimonial_location {
  color: rgb(43, 43, 43);
  font-size: 1.3rem;
}
.testimonial_name {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(35, 35, 35);
}
.testimonial_author {
  display: grid;
  grid-template-columns: repeat(2, 5rem);
  font-style: normal;
}
.name-location {
  position: relative;
  left: 1rem;
  display: flex;
  min-width: 30rem;
  flex-direction: column;
}
#no-padding{
  margin-top: 0;
}

#no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
.dots--dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.dots_dot--active {
  background-color: grey;
}
.dots {
  display: flex;
  max-width: 8%;
  justify-content: space-evenly;
}
.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: #eeecec;
  color: rgb(22, 21, 21);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.2rem;
  font-family: inherit;
  cursor: pointer;
}
.slider_btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.slider_btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider {
  position: relative;
  height: 30rem;
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Aquí para una transición */
}
.testimonial_header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.testimonial_text {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #666;
}
.recuadro-base img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.recuadro-base {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
/* .testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
} */
