:root {
  --purple--color: #a81da8;
  --white--color: #fff;
  --blue--color: #0000ff;
  --bc--color: #eeecec;
  --black--color: #000;
  --pink--color: #f6e8e8;
  --overlay--color: #00000061;
}

html {
  font-size: 62.5%;
}
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 0 !important;
}
.header {
  height: 100vh;
  background-image: url("assets/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 50% top 20%;
}
.logo-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pandasneezing {
  margin-left: 1rem;
  font-weight: 700;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bc--color);
}
.options-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1rem;
}
.btn_open_modal {
  grid-column: span 1;
  margin: 1rem;
  background-color: var(--blue--color);
  color: var(--white--color);
}

.nav {
  background-color: var(--white--color);
  opacity: 93%;
}
.nav_links {
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav_links li {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.features {
  /* grid-area: two; */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
  padding: 1.3rem;
  width: 100%;
}
.hero_img--rectangulo {
  height: 30rem;
  overflow: hidden;
  position: relative;
}
.hero_img--rectangulo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rectangular-img {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  position: relative;
}
.rectangle-text {
  overflow: hidden;
  max-width: 100%;
  max-height: 15rem;
}
.rectangular-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#container_section--2,
.contenedor-ochenta {
  max-width: 80%;
  margin: auto;
}
.general_container--1 {
  background-color: #f7f7f7;
}
.section__description {
  font-size: 1.6rem;
  color: rgb(52, 32, 239);
}
.sec_header {
  font-size: 2.4rem;
  line-height: 0.8rem;
  font-weight: 500;
}
.header__title {
  flex: 1;
  max-width: 110rem;
  display: grid;
  grid-template-columns: 3fr;
  row-gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
  margin: 0 auto;
}
.icon-container {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 3rem;
  background-color: rgb(245, 232, 234);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.operations {
  margin-top: 7rem;
  background-color: var(--white--color);
  border: 1px solid #ddd;
  padding-bottom: 2rem;
}
.operations_tab-container {
  display: flex;
  justify-content: center;
}

.operations_tab-container button {
  font-size: 1.6rem;
}

.operations__tab--active {
  color: var(--white--color);
  transform: translateY(-66%) !important;

  margin-right: 2.3rem;
}
.operations__tab {
  transform: translateY(-50%);
  margin-right: 2.3rem;
}
.btn,
.btn_open_modal {
  padding: 0.8rem 2.3rem;
  /*  */
  border-radius: 14rem;
  cursor: pointer;
}
.operations__tab--1 {
  /*Esto es el boton 1*/

  background-color: var(--blue--color);
}
.operations__tab--2,
.operations__tab--3 {
  /*Esto es el boton 1*/
  background-color: var(--white--color);
  border: 1px solid #cecece;
}
/* .operations__tab--3 {
  background-color: rgb(172, 255, 173);
} */
.operations__content {
  width: 80%;
  margin: auto;
}
.icon-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.ul_redes-sociales li {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 4rem;
  background-color: var(--pink--color);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.ul_redes-sociales li i {
  color: var(--purple--color);
}
.ul_redes-sociales {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* All sections */
/* .section--1 {
  display: grid;
  grid-template-areas:
    "one"
    "two";
  align-items: center;
  justify-content: center;
} */
.section__title {
  grid-area: one;
}

.div-input-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.8rem 8rem;
}
.registro-footer {
  padding: 1rem;
  text-align: center;
}
.div-redes--sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.div_registro-redes {
  display: flex;
  flex-direction: column;
}
section {
  padding: 2rem 3rem;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
}
.footer-inf {
  display: grid;
  padding: 0 3rem;
  margin: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.div_inf--tienda {
  padding: 0 2rem;
}
.div_nuestras--tiendas {
  padding: 0 2rem;
}
.div-ligaDe--interes {
  padding: 0 2rem;
}
.div-legales {
  padding: 0 2rem;
}

.btn_suscribirme {
  height: 3.7rem;
  width: 8rem;
  text-align: center;
  background-color: var(--blue--color);
  padding: 0.5rem;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--white--color);
}
.header__title .btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--blue--color);
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.ipt_suscribirme {
  height: 3.7rem;
  width: 21rem;
  padding: 0.5rem;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
li {
  list-style: none;
}
.icono-peque {
  font-size: 2.3rem;
  color: var(--purple--color);
}
.ul_redes-sociales a {
  font-size: 2.3rem;
}
.icono-mediano {
  font-size: 2rem;
  color: var(--purple--color);
}
.testimonial {
  position: relative;
  width: 65%;
}
.testimonial_location {
  color: rgb(43, 43, 43);
  font-size: 1.3rem;
}
.testimonial_name {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(35, 35, 35);
}
.testimonial_author {
  display: grid;
  grid-template-columns: repeat(2, 5rem);
  font-style: normal;
}
.name-location {
  position: relative;
  left: 1rem;
  display: flex;
  min-width: 30rem;
  flex-direction: column;
}
#no-padding {
  margin-top: 0;
}

#no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
.dots--dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.dots_dot--active {
  background-color: grey;
}
.dots {
  position: absolute;
  bottom: 0;
  display: flex;
  min-width: 15%;
  justify-content: space-evenly;
  left: 42.5%;
}
.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: #eeecec;
  color: rgb(22, 21, 21);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.2rem;
  font-family: inherit;
  cursor: pointer;
}
.slider_btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.slider_btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider {
  position: relative;
  height: 30rem;
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Aquí para una transición */
}
.section--3_in {
  position: relative;
}
.section--signUp {
  background-color: var(--blue--color);
  text-align: center;
  padding: 8rem 3rem;
}
.section_header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
  color: var(--white--color);
  text-align: center;
}
.testimonial_header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.testimonial_text {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #666;
}
.recuadro-base img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.recuadro-base {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
#font_s--cuadricula {
  font-size: 1.6rem;
  min-width: 100%;
  margin: 0 0.8rem;
}
.font_s--titulo {
  font-size: 1.9rem;
  margin: 1rem 0.8rem 0;
}
.font_G--footer {
  font-size: 2rem;
}
.font_M--footer {
  font-size: 1.6rem;
}
.font_S--footer {
  font-size: 1.4rem;
  line-height: 3.2rem;
}
.rectangular-img {
  filter: blur(1.2rem);
}
h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}
.highlight {
  position: relative;
}
h4 {
  font-size: 2.4rem;
  font-weight: 500;
}
.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.header__img {
  width: 90%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(6rem);
}
#miid::placeholder {
  color: gray;
  text-align: center;
  padding-top: 30px;
  font-size: 1.4rem;
}
/* .testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
} */

.footer-bottom-wrapper > small {
  font-size: 1rem;
  width: 100vw;
}
.footer-bottom {
  background-color: var(--blue--color);
  color: var(--white--color);
  position: relative;
  bottom: 0.4rem;
  left: 1.5rem;
}

.to-top-button {
  position: fixed;
  align-content: center;
  justify-content: center;
  display: block;
  width: 3.9rem;
  height: 3.9rem;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.3rem;
  background-color: var(--purple--color);
  color: var(--white--color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: none; /* Inicialmente oculto */
}
.to-top-button:hover {
  background-color: #0056b3;
}
.modal_header {
  font-size: 3.25rem;
  color: var(--black--color);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.btn--close-modal {
  font-family: inherit;
  color: var(--overlay--color);
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}
.modal {
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38vw;
  min-height: 60vh;
  max-height: 80vh;
  background-color: var(--bc--color);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* aquí falta una propiedad de transición */
}
.modal_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem auto;
}
.btn_modal--form {
  background-color: var(--blue--color);
  color: var(--white--color);
  border: 0.03rem solid var(--overlay--color);
  min-width: 50%;
  padding: 1.3rem 0;
  font-weight: 500;
  margin: 2rem auto 1rem;
}
.lbl_form {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 500;
}
.ipt_form {
  height: 3rem;
  width: 21rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--white--color);
  border: 0.5px solid var(--overlay--color);
}

.div_sep--form {
  margin: 0.051rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay--color);
  backdrop-filter: blur(0.4rem);
  z-index: 500;
  /* propiedad de transition */
}

.hidden{
  visibility: hidden;
  opacity: 0;
}