:root {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr; /* Una columna */
  grid-template-rows: auto auto; /* Tantas filas como se necesiten */
  gap: 20px; /* Espacio entre las filas */
}

/*STYLES FOR THE IMG LOAD FUNTION*/
.image {
  opacity: 0; /* Image is initially invisible */
  transition: opacity 1s ease-in; /* 1-second fade-in transition */
}
.fadeIn {
  opacity: 1; /* Fully visible when this class is added */
}

/* COUNTRIES CARDS */
#countries--cards {
  width: 60%;
  /* display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 4rem;
  flex-wrap: wrap-reverse; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  gap: 1rem;
  padding: 1% 10%;
}
/* .countryCardDiv:nth-child(odd) {
  height: 24rem;
  width: 24rem;
}
.countryCardDiv:nth-child(even) {
  height: 18rem;
  width: 18rem;
} */
.divCountryDescription,
.divCountryName {
  width: 80%;
}

.divCountryFlag {
  width: 100%;
  height: 50%;
}
.imgFlag {
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.countryCardDiv {
  height: 20rem;
  width: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  /* background-color: aqua; */
}
.descriptionCardStyle {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.descriprionCardStyle p,
.divCountryName p,
h1 {
  margin: 5px 4px 0px 3px;
}
.countryCardDiv {
  border-radius: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra tenue */
  height: 27rem;
  width: 25rem;
}

.divCountryName {
  display: flex;
  flex-direction: column;
}

.divCountryName,
.divCountryDescription {
  padding: 0rem 1rem 2rem 1rem;
}

.btnSearch {
  border: none;
  background-color: rgb(250, 250, 250);
  padding: 0.4rem 1.61rem;
  border-radius: 20px;
  font-size: 1.1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra tenue */
  cursor: pointer;
}

#selectCountry {
  position: relative;
  width: 250px;
  height: 32px;
  overflow: hidden;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border:none;
  padding: 0.2rem 1.2rem;
}


